<div>
  <div class="left">
    <div class="left-t">

    </div>
    <div class="left-l">
      <p><b>
          <h3>Your Shopping Cart</h3>
        </b></p>
      <p>This library reduces the effort required to interface an Arduino to a Bolt module.
        The library supports hardware as well as software serial UARTs, as such the Bolt can be interfaced to with any
        pins of the Arduino. But it would be more robust to use hardware UART over software UART.
        By using this library, any data collected or processed by the Arduino can be sent to the Bolt Cloud</p>
    </div>

  </div>
  <div class="right">
    <div class="right-t1">
      <button type="button" class="b">Birthday cake</button>
    </div>
    <div class="right-t">
      <button type="button" class="b">Bullet proof jacket</button>
    </div>
    <div class="right-t">
      <button type="button" class="b">pistol</button>
    </div>
    <div class="right-t">
      <button type="button" class="b">Beer</button>
    </div>
    <div class="right-t">
      <form>
        <input type="text" class="form"><br>
      </form>
    </div>
    <div class="right-l">
      <button type="button" class="b">Buy</button>
    </div>

  </div>
</div>